.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/*GRID - media queries breakpoints*/

$container-max-width: 100%;
$container-width: 1200px;
$xxs-min: 576px; // CÓ THỂ TÙY CHỈNH
$xs-min: 768px; // KHÔNG THAY ĐỔI
$sm-min: 992px; // KHÔNG THAY ĐỔI
$md-min: 1200px; // KHÔNG THAY ĐỔI
$lg-min: 1600px; // CÓ THỂ TÙY CHỈNH
$xxs-max: ($xxs-min - 1); // Small Mobile
$xs-max: ($xs-min - 1); // Mobile
$sm-max: ($sm-min - 1); // Tablet
$md-max: ($md-min - 1); // Desktop
$lg-max: ($lg-min - 1); // Large Desktop
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
    color: #fff;
}

svg {
    height: 20px;
}

@media (min-width: $xxs-min) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: $xs-min) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: $sm-min) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: $md-min) {
    .container {
        max-width: $container-width;
    }
}
